body {
  background: #fff;
  font-family: $font;
  color: $font-color;
  font-size: $font-size;
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: 0.9375rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.red {
  color: $red;
}

.primary {
  color: $primary;
}

p {
  margin: 0 0 1.875rem 0;
}

h1,
.h1 {
  margin: 0.625rem 0 1.25rem;
  display: block;
  font-size: 2.8125rem;
  font-weight: bold;
}

h2,
.h2 {
  margin: 0.625rem 0 1.25rem;
  display: block;
  font-size: 2.125rem;
  font-weight: bold;

  @media (max-width: 575px) {
    font-size: 1.5625rem;
  }
}

h3,
.h3 {
  margin: 0.625rem 0 1.25rem;
  display: block;
  font-size: 1.5625rem;
  font-weight: bold;

  @media (max-width: 575px) {
    font-size: 1.25rem;
  }
}

h4,
.h4 {
  margin: 0.625rem 0 1.25rem;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;

  @media (max-width: 575px) {
    font-size: 1rem;
  }
}

h5,
.h5 {
  margin: 0.625rem 0 1.25rem;
  display: block;
  font-size: 100%;
  font-weight: bold;
}

h6,
.h6 {
  margin: 0.625rem 0 1.25rem;
  display: block;
  font-size: 100%;
}

ol,
ul {
  margin: 0 0 1.875rem 0;
  padding: 0 0 0 1rem;
  list-style-type: disc;
  list-style-position: outside;

  li {
    margin: 0;
    padding: 0;

    ul {
      margin: 1rem 0 0 0;
      padding: 0 0 0 1rem;
    }
  }
}

ol.lower-alpha,
ul.lower-alpha {
  list-style-type: lower-alpha;
  margin-left: 2.1875rem;
  margin-bottom: 0.9375rem;

  li {
    padding-bottom: 0.9375rem;
  }
}

ol.decimal,
ul.decimal {
  list-style-type: decimal;
  margin-left: 2.1875rem;
  margin-bottom: 0.9375rem;

  li {
    padding-bottom: 0.9375rem;
  }
}

ol.disc,
ul.disc {
  list-style-type: disc;
  margin-left: 2.1875rem;
  margin-bottom: 0.9375rem;

  li {
    padding-bottom: 0.9375rem;
  }
}

ol.circle,
ul.circle {
  list-style-type: circle;
  margin-left: 2.1875rem;
  margin-bottom: 0.9375rem;

  li {
    padding-bottom: 0.9375rem;
  }
}

ol.upper-roman,
ul.upper-roman {
  list-style-type: upper-roman;
  margin-left: 2.1875rem;
  margin-bottom: 0.9375rem;

  li {
    padding-bottom: 0.9375rem;
  }
}

ol.lower-roman,
ul.lower-roman {
  list-style-type: lower-roman;
  margin-left: 2.1875rem;
  margin-bottom: 0.9375rem;

  li {
    padding-bottom: 0.9375rem;
  }
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

blockquote {
  border: 0.125rem solid $primary;
  font-style: italic;
  font-size: 120%;
  padding: 0 0 0 1rem;
  margin: 0 0 1.875rem 1rem;
}

hr {
  border: 0;
  height: 0.0625rem;
  background: #707070;
  margin-bottom: 1.875rem;
}

.col-sm-12,
.col-md-12,
.container,
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  padding-top: 2.5rem;

  > div {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }

  .prev {
    font-size: 1.0625rem;
    min-width: 12.5rem;

    @media (max-width: 767px) {
      position: relative;
      width: 3.125rem;
      min-width: 3.125rem;
      max-width: 3.125rem;
      height: 3.125rem;
      font-size: 0;
      padding: 0;
      overflow: hidden;
    }

    &:before {
      content: "";
      position: relative;
      top: 0.3438rem;
      right: 0;
      display: inline-block;
      margin-right: 1.25rem;
      width: 0.6875rem;
      height: 1.375rem;
      line-height: 3.125rem;
      background: no-repeat center center;
      background-image: url("data:image/svg+xml,%0A%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-left' class='svg-inline--fa fa-angle-left fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%23ffffff' d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z'%3E%3C/path%3E%3C/svg%3E");
      background-size: 0.6875rem 1.375rem;
      transition: all 0.3s;

      @media (max-width: 767px) {
        position: absolute;
        top: 0.0625rem;
        left: -0.1875rem;
        right: 0;
        bottom: 0;
        width: 3.125rem;
        height: 3.125rem;
        background-size: 60% 60%;
        margin: 0;
      }
    }

    @media (min-width: 768px) {
      &:hover,
      &:focus {
        &:before {
          right: 0.9375rem;
        }
      }
    }
  }

  .next {
    font-size: 1.0625rem;
    min-width: 12.5rem;

    @media (max-width: 767px) {
      position: relative;
      width: 3.125rem;
      min-width: 3.125rem;
      max-width: 3.125rem;
      height: 3.125rem;
      font-size: 0;
      padding: 0;
      overflow: hidden;
    }

    &:after {
      content: "";
      position: relative;
      top: 0.3438rem;
      left: 0;
      display: inline-block;
      margin-left: 1.25rem;
      width: 0.6875rem;
      height: 1.375rem;
      line-height: 3.125rem;
      background: no-repeat center center;
      background-image: url("data:image/svg+xml,%0A%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-right' class='svg-inline--fa fa-angle-right fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%23ffffff' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E");
      background-size: 0.6875rem 1.375rem;
      transition: all 0.3s;

      @media (max-width: 767px) {
        position: absolute;
        top: 0.0625rem;
        left: 0;
        right: -0.1875rem;
        bottom: 0;
        width: 3.125rem;
        height: 3.125rem;
        background-size: 60% 60%;
        margin: 0;
      }
    }

    @media (min-width: 768px) {
      &:hover,
      &:focus {
        &:after {
          left: 0.9375rem;
        }
      }
    }
  }
}

.or {
  line-height: 3.125rem;
  font-weight: bold;
  font-size: 120%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  min-width: 1px !important;
  overflow: hidden;
}

.wrapper {
  position: relative;
  background: white;
  padding: 3.125rem 5.625rem;

  @media (max-width: 1024px) {
    padding: 1.875rem 2.8125rem;
  }

  @media (max-width: 575px) {
    padding: 1.875rem;
  }
}

.home {
  background: url(../img/bg.png) no-repeat center 70px;
  padding-bottom: 100px;

  .presentation {
    font-size: 1.5rem;
    max-width: 62.5rem;
    margin: 0 auto 10rem auto;
  }

  .wrapper {
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto;
    box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.4);

    h2 {
      font-weight: bold;
      margin: 0 0 1.5625rem 0;
      font-size: 1.6875rem;
      @media (max-width: 575px) {
        font-size: 1.25rem;
      }
    }

    .btn {
      @media (min-width: 571px) {
        font-size: 1.25rem;
        height: 3.75rem;
        line-height: 3.75rem;
      }
    }
  }
}

.info-box {
  padding: 3.75rem 8.75rem;
  background: #edf8ff;
  border: 0.1875rem solid #0077c4;
  font-size: 1.5rem;
  margin-bottom: 20px;

  @media (max-width: 1024px) {
    padding: 1.875rem 4.375rem;
  }

  @media (max-width: 767px) {
    font-size: 1.125rem;
  }

  @media (max-width: 575px) {
    padding: 1.875rem;
  }

  p {
    margin: 0;

    &:before {
      content: "";
      position: relative;
      top: 0.4375rem;
      display: block;
      width: 4.5625rem;
      height: 4.0625rem;
      float: left;
      margin: 0 2.5rem 1.25rem 0;
      background: no-repeat top center;
      background-size: 4.5625rem 4.0625rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73.122' height='65' viewBox='0 0 73.122 65'%3E%3Cpath id='Tracé_1186' data-name='Tracé 1186' d='M34.3-36.562a.762.762,0,0,0-.762.787l.952,24.883a.759.759,0,0,0,.762.736h2.6a.767.767,0,0,0,.762-.736l.952-24.883a.762.762,0,0,0-.762-.787Zm2.26,28.945a3.549,3.549,0,0,0-3.555,3.555A3.549,3.549,0,0,0,36.562-.508a3.549,3.549,0,0,0,3.555-3.555A3.549,3.549,0,0,0,36.562-7.617ZM72.3-1.016,41.844-53.828a6.1,6.1,0,0,0-10.562,0L.825-1.016A6.1,6.1,0,0,0,6.106,8.125H67.031A6.1,6.1,0,0,0,72.3-1.016ZM67.031,4.062H6.094A2.036,2.036,0,0,1,4.329,1.016L34.8-51.8a2.031,2.031,0,0,1,3.517,0L68.783,1.016A2.029,2.029,0,0,1,67.031,4.062Z' transform='translate(-0.003 56.875)' fill='%23074374'/%3E%3C/svg%3E%0A");

      @media (max-width: 767px) {
        display: block;
        width: 100%;
        top: auto;
        margin: 0 0 1.25rem 0;
      }
    }

    a {
      color: $font-color;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.result {
  background: url(../img/bg.png) no-repeat center center;

  .wrapper {
    margin: 9.0625rem 1.875rem 1.875rem 1.875rem;
    box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.4);

    .title {
      text-align: center;
      font-weight: bold;
      margin: 0 0 1.5625rem 0;
      font-size: 1.6875rem;

      @media (max-width: 575px) {
        font-size: 1.25rem;
      }
    }

    .preview {
      h1 {
        font-size: 1.875rem;

        @media (max-width: 575px) {
          font-size: 1.5rem;
        }
      }
      h2 {
        font-size: 1.5rem;

        @media (max-width: 575px) {
          font-size: 1.25rem;
        }
      }

      h3 {
        font-size: 1.25rem;

        @media (max-width: 575px) {
          font-size: 1rem;
        }
      }

      ul, ol {
        margin-left: 1.875rem;
      }
    }
  }
}

abbr[title] {
  cursor: help!important;
  text-decoration: none !important;
  border-bottom: $font-color dotted 1px!important;
}

// Remove tabs for links ckeditor 4

.cke_dialog_tabs {
  display: none!important;
}

.cke_dialog_contents {
  margin-top:  0!important;
  border-top: 0!important;
}

table {
  margin-bottom: 2.5rem;
}
